In [1]:
import pandas as pd
import numpy as np

In [2]:
# Import SQL Alchemy
import sqlalchemy
from sqlalchemy import create_engine, MetaData

# Import and establish Base for which classes will be constructed 
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [3]:
# Import modules to declare columns and column data types
from sqlalchemy import Column, Integer, String, Float, Text, Numeric

from sqlalchemy import inspect

In [4]:
#csv to df
access_logs_df = pd.read_csv('/home/spinster/bootcamp/homework/apache/infiles/cleaned_access_logs.csv')
responses_df = pd.read_csv('../infiles/Hitesh_IP_demographics.csv')

In [5]:
access_logs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30694 entries, 0 to 30693
Data columns (total 10 columns):
Unnamed: 0      30694 non-null int64
ip              30694 non-null object
DateTime        30694 non-null object
TimeZone        30694 non-null object
Method          30694 non-null object
URL             30694 non-null object
ResponseCode    30694 non-null object
BytesSent       30694 non-null object
Referer         30694 non-null object
UserAgent       30694 non-null object
dtypes: int64(1), object(9)
memory usage: 2.3+ MB

In [6]:
responses_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7729 entries, 0 to 7728
Data columns (total 19 columns):
city                            6024 non-null object
connection_isp                  7523 non-null object
continent_code                  3951 non-null object
continent_name                  7724 non-null object
country_code                    7703 non-null object
country_name                    7704 non-null object
currency_code                   7704 non-null object
ip                              7729 non-null object
latitude                        7724 non-null float64
location_capital                7697 non-null object
longitude                       7724 non-null float64
region_name                     6239 non-null object
time_zone_code                  7331 non-null object
time_zone_current_time          7331 non-null object
time_zone_gmt_offset            7325 non-null float64
time_zone_id                    7331 non-null object
time_zone_is_daylight_saving    7331 non-null float64
type                            7728 non-null object
zip                             4653 non-null object
dtypes: float64(4), object(15)
memory usage: 1.1+ MB

In [7]:
#drop things not used
responses_df = responses_df.drop(['continent_code', 'country_code', 'currency_code', 'location_capital', 'time_zone_code','time_zone_current_time','time_zone_id','time_zone_is_daylight_saving','type','zip'], axis=1)

In [21]:
responses_df

,city,connection_isp,continent_name,country_name,ip,latitude,longitude,region_name,time_zone_gmt_offset
0,Priolo Gargallo,Linkem spa,Europe,Italy,62.170.2.205,37.1500,15.1833,Sicily,7200.0
1,Brooklyn,"MCI Communications Services, Inc. d/b/a Verizo...",North America,United States,108.41.39.187,40.5833,-73.9240,New York,-14400.0
2,Seattle,Wowrack.com,North America,United States,216.244.66.194,47.4891,-122.2908,Washington,-25200.0
3,Guangzhou,China Telecom (Group),Asia,China,113.96.223.207,23.1167,113.2500,Guangdong,28800.0
4,Beijing,China Unicom Beijing Province Network,Asia,China,111.206.36.15,39.9289,116.3883,Beijing,28800.0
5,Boardman,"Amazon.com, Inc.",North America,United States,52.25.13.124,45.7788,-119.5290,Oregon,-25200.0
6,Beijing,China Unicom Beijing Province Network,Asia,China,123.125.143.15,39.9289,116.3883,Beijing,28800.0
7,Enkoeping,Liden Data Internetwork AB,Europe,Sweden,212.112.33.42,59.6333,17.0667,Uppsala,7200.0
8,NaN,OVH SAS,Europe,France,54.37.85.64,48.8582,2.3387,NaN,7200.0
9,San Francisco,"DigitalOcean, LLC",North America,United States,107.170.252.110,37.7312,-122.3826,California,-25200.0
10,Beijing,"IDC, China Telecommunications Corporation",Asia,China,106.120.160.109,39.9289,116.3883,Beijing,28800.0
11,Beijing,"IDC, China Telecommunications Corporation",Asia,China,101.199.108.50,39.9289,116.3883,Beijing,28800.0
12,Sao Paulo,CLARO S.A.,South America,Brazil,187.38.33.18,-23.5733,-46.6417,Sao Paulo,-10800.0
13,NaN,RAN Networks S.L.,Europe,Spain,212.34.138.31,40.4172,-3.6840,NaN,NaN
14,Chicago,Steadfast,North America,United States,208.100.26.232,41.8745,-87.6503,Illinois,-18000.0
15,NaN,"Seznam.cz, a.s.",Europe,Czechia,77.75.78.165,50.0848,14.4112,NaN,7200.0
16,Zhengzhou,CHINA UNICOM China169 Backbone,Asia,China,122.114.43.47,34.6836,113.5325,Henan,28800.0
17,Ashburn,"Amazon.com, Inc.",North America,United States,54.87.214.17,39.0853,-77.6452,Virginia,-14400.0
18,NaN,"Level 3 Parent, LLC",North America,United States,8.36.123.217,37.7510,-97.8220,NaN,NaN
19,Mountain View,Google LLC,North America,United States,66.249.69.103,37.4192,-122.0574,California,-25200.0
20,NaN,OVH SAS,Europe,France,54.37.85.62,48.8582,2.3387,NaN,7200.0
21,NaN,"Granite Block Global Data Center, Inc",North America,United States,50.202.38.3,28.6344,-81.6221,Florida,-14400.0
22,Mytishchi,Central Switching Station of Ministry Railway ...,Europe,Russia,217.175.129.193,55.9116,37.7308,Moscow Oblast,10800.0
23,Katrineholm,Forss Webservice AB,Europe,Sweden,95.128.115.41,58.9959,16.2072,S?dermanland,7200.0
24,NaN,Limited liability company Mail.Ru,Europe,Russia,217.69.134.176,55.7386,37.6068,NaN,NaN
25,Redmond,Microsoft Corporation,North America,United States,157.55.39.0,47.6801,-122.1206,Washington,-25200.0
26,Ashburn,DataWeb Global Group B.V.,North America,United States,46.229.170.197,39.0180,-77.5390,Virginia,-14400.0
27,Shenyang,CHINA UNICOM China169 Backbone,Asia,China,218.60.28.154,41.7922,123.4328,Liaoning,28800.0
28,Beijing,China Unicom Beijing Province Network,Asia,China,111.206.36.139,39.9289,116.3883,Beijing,28800.0
29,Beijing,China Unicom Beijing Province Network,Asia,China,111.206.36.11,39.9289,116.3883,Beijing,28800.0
...,...,...,...,...,...,...,...,...,...
7699,Boardman,"Amazon.com, Inc.",North America,United States,52.88.238.148,45.7788,-119.5290,Oregon,-25200.0
7700,San Francisco,Twitter Inc.,North America,United States,199.16.157.180,37.7758,-122.4128,California,-25200.0
7701,Duncannon,Yahoo!,North America,United States,72.30.14.110,40.4080,-77.0322,Pennsylvania,-14400.0
7702,NaN,Hetzner Online GmbH,Europe,Germany,144.76.14.7,51.2993,9.4910,NaN,7200.0
7703,Redmond,Microsoft Corporation,North America,United States,157.55.39.118,47.6801,-122.1206,Washington,-25200.0
7704,Beijing,Beijing Baidu Netcom Science and Technology Co...,Asia,China,180.76.15.28,39.9289,116.3883,Beijing,28800.0
7705,Ashburn,"Amazon.com, Inc.",North America,United States,54.165.241.61,39.0853,-77.6452,Virginia,-14400.0
7706,Ashburn,"Amazon.com, Inc.",North America,United States,34.207.213.117,39.0853,-77.6452,Virginia,-14400.0
7707,NaN,SoftLayer Technologies Inc.,North America,United States,169.54.233.116,37.7510,-97.8220,NaN,NaN
7708,Beijing,China Unicom Beijing Province Network,Asia,China,123.126.113.186,39.9289,116.3883,Beijing,28800.0
7709,Fuzhou,"No.31,Jin-rong Street",Asia,China,121.207.19.228,26.0614,119.3061,Fujian,28800.0
7710,Mumbai,AS Number of In2cable.com (India) Ltd.,Asia,India,124.155.255.229,18.9750,72.8258,Maharashtra,19800.0
7711,New York,"DigitalOcean, LLC",North America,United States,162.243.245.57,40.7421,-74.0018,New York,-14400.0
7712,Mountain View,Google LLC,North America,United States,66.249.64.207,37.4192,-122.0574,California,-25200.0
7713,Ashburn,"Amazon.com, Inc.",North America,United States,54.88.71.213,39.0853,-77.6452,Virginia,-14400.0
7714,Scottsdale,"GoDaddy.com, LLC",North America,United States,192.169.235.228,33.6119,-111.8906,Arizona,-25200.0
7715,Toronto,"easyDNS Technologies, Inc.",North America,Canada,64.68.203.197,43.6383,-79.4301,Ontario,-14400.0
7716,Boardman,"Amazon.com, Inc.",North America,United States,34.213.124.179,45.7788,-119.5290,Oregon,-25200.0
7717,Cuenca,ETAPA EP,South America,Ecuador,190.94.144.139,-2.8833,-78.9833,Provincia del Azuay,-18000.0
7718,Clifton,"DigitalOcean, LLC",North America,United States,45.55.165.242,40.8326,-74.1307,New Jersey,-14400.0
7719,Ashburn,"Amazon.com, Inc.",North America,United States,23.20.128.152,39.0853,-77.6452,Virginia,-14400.0
7720,Boardman,"Amazon.com, Inc.",North America,United States,34.208.1.204,45.7788,-119.5290,Oregon,-25200.0
7721,Shenzhen,CHINANET Sichuan province Chengdu MAN network,Asia,China,43.226.37.14,22.5333,114.1333,Guangdong,28800.0
7722,NaN,Net Sys International Limited - Internet Servi...,Asia,Hong Kong,180.214.164.206,22.2500,114.1667,NaN,28800.0
7723,Hangzhou,"Hangzhou Alibaba Advertising Co.,Ltd.",Asia,China,120.77.220.76,30.2936,120.1614,Zhejiang,28800.0
7724,Ashburn,"Amazon.com, Inc.",North America,United States,34.232.70.171,39.0853,-77.6452,Virginia,-14400.0
7725,Ashburn,"Amazon.com, Inc.",North America,United States,34.239.45.190,39.0853,-77.6452,Virginia,-14400.0
7726,Boardman,"Amazon.com, Inc.",North America,United States,52.10.76.165,45.7788,-119.5290,Oregon,-25200.0
7727,Quanzhou,CHINA UNICOM China169 Backbone,Asia,China,36.251.129.82,24.9139,118.5858,Fujian,28800.0
7728,Guangzhou,CHINANET Guangdong province network,Asia,China,14.215.176.6,23.1167,113.2500,Guangdong,28800.0

In [8]:
# create engine
engine = create_engine('sqlite:///apache.sqlite')

In [9]:
# interface with engine via metadata
Base.metadata.create_all(engine)

In [10]:
#start session
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [11]:
#convert dfs to dicts in order to create classes
access = access_logs_df.to_dict(orient='records')
responses = responses_df.to_dict(orient='records')

In [12]:
#create classes
Base = declarative_base()

class Access(Base):
    __tablename__ = 'access'
    
    ip = Column(String, primary_key=True)
    DateTime= Column(String)
    Method = Column(String)
    URL = Column(String)
    ResponseCode = Column(String)
    Referer = Column(String)
    BytesSent = Column(String)
    UserAgent = Column(String)

    def __repr__(self):
        return f"id={self.id}, name={self.access}"

In [13]:
class Responses(Base):
    __tablename__ = 'responses'
    ip = Column(String, primary_key=True)
    city = Column(String)
    connection_isp = Column(String)
    continent_name = Column(String)
    country_name = Column(String)
    latitude = Column(Float)
    longitude = Column(Float)
    region_name = Column(String)
    time_zone_gmt_offset = Column(String)
    
    def __repr__(self):
        return f"id={self.id}, name={self.responses}"

In [14]:
# create db
Base.metadata.create_all(engine)

In [15]:
# check that it worked.
engine.table_names()

['access', 'responses']

In [16]:
# create connection
conn = engine.connect()

In [17]:
# check that all the info is there
Access.__table__

Table('access', MetaData(bind=None), Column('ip', String(), table=<access>, primary_key=True, nullable=False), Column('DateTime', String(), table=<access>), Column('Method', String(), table=<access>), Column('URL', String(), table=<access>), Column('ResponseCode', String(), table=<access>), Column('Referer', String(), table=<access>), Column('BytesSent', String(), table=<access>), Column('UserAgent', String(), table=<access>), schema=None)

In [18]:
Responses.__table__

Table('responses', MetaData(bind=None), Column('ip', String(), table=<responses>, primary_key=True, nullable=False), Column('city', String(), table=<responses>), Column('connection_isp', String(), table=<responses>), Column('continent_name', String(), table=<responses>), Column('country_name', String(), table=<responses>), Column('latitude', Float(), table=<responses>), Column('longitude', Float(), table=<responses>), Column('region_name', String(), table=<responses>), Column('time_zone_gmt_offset', String(), table=<responses>), schema=None)

In [19]:
#delete tables to avoid duplicates when re-run
#conn.execute(Access.__table__.delete())
#conn.execute(Responses.__table__.delete())

In [20]:
# execute connection
conn.execute(Access.__table__.insert(), access)
#conn.execute(Responses.__table__.insert(), responses)

IntegrityError: (sqlite3.IntegrityError) UNIQUE constraint failed: access.ip [SQL: 'INSERT INTO access (ip, "DateTime", "Method", "URL", "ResponseCode", "Referer", "BytesSent", "UserAgent") VALUES (?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: (('62.170.2.205', '2018-04-08 07:19:25', 'HEAD', 'http://198.27.242.168:80/phpmyadmin/', '404', '-', '220', 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/63.0.3239.132 Safari/537.36'), ('62.170.2.205', '2018-04-08 07:19:25', 'HEAD', 'http://198.27.242.168:80/PMA/', '404', '-', '219', 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/63.0.3239.132 Safari/537.36'), ('62.170.2.205', '2018-04-08 07:19:25', 'HEAD', 'http://198.27.242.168:80/dbadmin/', '404', '-', '219', 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/63.0.3239.132 Safari/537.36'), ('62.170.2.205', '2018-04-08 07:19:26', 'HEAD', 'http://198.27.242.168:80/pma/', '404', '-', '219', 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/63.0.3239.132 Safari/537.36'), ('62.170.2.205', '2018-04-08 07:19:26', 'HEAD', 'http://198.27.242.168:80/db/', '404', '-', '219', 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/63.0.3239.132 Safari/537.36'), ('108.41.39.187', '2018-04-08 07:53:03', 'GET', '/phone_pix/cat.jpg', '404', '-', '534', 'just some guy'), ('74.208.182.37', '2018-04-08 09:00:47', 'GET', '/', '200', '-', '562', 'Mozilla/4.0 (compatible; MSIE 5.0; Windows NT; DigExt; DTS Agent'), ('46.229.164.102', '2018-04-08 09:58:37', 'GET', '/robots.txt', '200', '-', '385', 'Mozilla/5.0 (compatible; SemrushBot/1.2~bl; +http://www.semrush.com/bot.html)')  ... displaying 10 of 30694 total bound parameter sets ...  ('66.249.65.183', '2015-03-15 04:27:17', 'GET', '/robots.txt', '200', '-', '423', 'Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html)'), ('81.52.143.15', '2015-03-15 04:27:44', 'GET', '/robots.txt', '200', '-', '385', 'Mozilla/5.0 (compatible; OrangeBot/2.0; support.orangebot@orange.com)'))] (Background on this error at: http://sqlalche.me/e/gkpj)

In [ ]:
# check that it worked
engine.execute("select ip from access limit 10").fetchall()

In [ ]:
engine.execute('select ip from responses limit 10').fetchall()

In [ ]:
#check what's in there
engine.execute("select * from access limit 1").fetchall()

In [ ]:
engine.execute("select * from responses limit 1").fetchall()